# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "Zagrthos"
    commit-message:
      prefix: "[Actions]"
      include: "scope"
    groups:
      GitHub:
        applies-to: version-updates
        patterns:
        - "actions*"
        update-types:
        - "minor"
        - "patch"
      Non-GitHub:
        applies-to: version-updates
        exclude-patterns:
        - "actions*"
        update-types:
        - "minor"
        - "patch"
    open-pull-requests-limit: 25

  - package-ecosystem: "nuget" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "daily"
    assignees:
      - "Zagrthos"
    commit-message:
      prefix: "[NuGet]"
      include: "scope"
    groups:
      Microsoft:
        applies-to: version-updates
        patterns:
        - "Microsoft.*"
        update-types:
        - "minor"
        - "patch"
      Roslynator:
        applies-to: version-updates
        patterns:
        - "Roslynator.*"
        update-types:
        - "minor"
        - "patch"
      System:
        applies-to: version-updates
        patterns:
        - "System.*"
        update-types:
        - "minor"
        - "patch"
      Others:
        applies-to: version-updates
        exclude-patterns:
        - "Microsoft.*"
        - "Roslynator.*"
        - "System.*"
        update-types:
        - "minor"
        - "patch"
    open-pull-requests-limit: 25
